@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Bubbler+One');

body {
    background-color: #f8f8f8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

h1 {
    font-family: 'Bubbler One', sans-serif;
}

.submit-btn {
    font-size: 15px;
    font-weight: 700;
    padding: .8em 1em calc(.8em + 3px);
    background: rgb(64, 199, 129);
    color: white;
    text-decoration: none;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    border-radius: 3px;
    transition: 0.2s;
}
.submit-btn:hover {background: rgb(33,147,90);}
.submit-btn:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

#input {
    border-radius: 5px;
    outline: none;
    background: #ffffff !important;
    font-size: 11px;
    width: 200px;
    height: 50px;
}